## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("outputs/hotels.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,0,0,Jamestown,US,2022-02-06 17:18:41,42.0970,-79.2353,31.51,40,0,8.01,Hampton Inn & Suites Jamestown
1,4,4,Nara,JP,2022-02-06 17:22:22,34.6851,135.8049,38.48,62,12,4.63,Guesthouse Nara Komachi
2,11,11,Zharkovskiy,RU,2022-02-06 17:22:24,55.8490,32.2697,30.11,90,100,9.64,"Gostinitsa ""Mezha"""
3,19,19,Klaksvik,FO,2022-02-06 17:12:28,62.2266,-6.5890,36.52,61,87,37.51,Airbnb rooms
4,21,21,Brae,GB,2022-02-06 17:22:25,60.3964,-1.3530,39.11,59,100,30.40,Busta House Hotel

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Blyth'].head(1)
vacation_end = vacation_start.copy()
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Inverness'].head(1)
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Stornoway'].head(1) 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Brae'].head(1)

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].values[0], vacation_start['Lng'].values[0])
end = (vacation_end['Lat'].values[0], vacation_end['Lng'].values[0])
stop1 = (vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0])
stop2 = (vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0])
stop3 = (vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0])
start

(55.1271, -1.5086)

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
leg1 = gmaps.directions_layer(start, stop1)
leg2 = gmaps.directions_layer(stop1, stop2)
leg3 = gmaps.directions_layer(stop2, stop3)
leg4 = gmaps.directions_layer(stop3, end)
fig.add_layer(leg1)
fig.add_layer(leg2)
fig.add_layer(leg3)
fig.add_layer(leg4)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,1367,1367,Blyth,GB,2022-02-06 17:57:03,55.1271,-1.5086,38.46,77,20,7.00,Carlton house
1,1258,1258,Inverness,GB,2022-02-06 17:50:04,57.4791,-4.2240,37.98,85,20,5.99,Glen Mhor Hotel & Apartments
2,1038,1038,Stornoway,GB,2022-02-06 17:48:55,58.2093,-6.3865,38.03,74,20,7.00,Caladh Inn
3,21,21,Brae,GB,2022-02-06 17:22:25,60.3964,-1.3530,39.11,59,100,30.40,Busta House Hotel
4,1367,1367,Blyth,GB,2022-02-06 17:57:03,55.1271,-1.5086,38.46,77,20,7.00,Carlton house

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))